body{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    opacity: 0.5;
}
h2{
    font-size: 18px;
}
.clblue{
    color: rgb(0, 26, 255);
}
.clgreen{
    color: rgb(0, 126, 0);
}
.clred{
    color: rgb(255, 0, 0);
}
a{
    color: rgb(0, 26, 255);
}
.box{
    width: 1200px;
    background-color: rgb(211, 202, 202, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}
.mimg{
    width: 1200px;
}
pre{
    font-size: 15px;
}
.ok{
    list-style-image: url(./img/ok.png);
}
table{
    height: 500px;
    width: 800px;    
    font-size: 14px;
}
td{
    color: #000;
    height: 50px;
    vertical-align: middle;
    padding-left: 10px;
    
}
td:nth-child(1){
    text-align: right;
    width: 100px;
}