body{
    background: #333333;
}

.Main-block{
    position: absolute;
    width: 390px;
    height: 737px;
    left: 0px;
    top: 0px;
    background: url(../img/Cover.png);
    background-position: center center;
    display: flex;
}

.Main-block__Header{
    position: absolute;
    width: 348px;
    height: 43px;
    left: 20px;
    top: 50px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.button-menu{
    height: 39px;
    width: 39px;
    background: url(../img/align-justify.png);
    background-position: center center;
    color: none;
}

.Main-block_Menu_logo{
    padding: 35px 21px;
    height: 100px;
}

.menu-inside{
    height: 657px;
}

.Cross-menu{
    position: relative;
    top: 8px;
    left: -10px;
}

.menu{
    margin-top: 80px;

    ul{
        list-style: none;   
        
        li{
            display: flex;
            justify-content: center;

            a{
                text-decoration: none;
                display: block;
                font-family: "Poppins" , sans-serif;
                font-size: 24px;
                line-height: 36px;
                font-weight: 600;
                color: #333333;
                margin-bottom: 24px;
                
            }
        }
    }
}
.mobile-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    a{
        
    }
}